<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.backup.files</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/scp</string>
    <string>-i</string>
    <string>/Users/username/.ssh/id_rsa.pub</string>
    <string>/Users/username/backup_file.zip</string>
    <string>server_username@server.ip.goes.here:/Users/server_username</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartCalendarInterval</key>
  <array>
  <dict>
    <key>Hour</key>
    <integer>17</integer>   <!-- 5pm -->
    <key>Minute</key>
    <integer>4</integer>    <!-- 5:04pm -->
    <key>Weekday</key>
    <integer>5</integer>    <!-- friday -->
  </dict>
  </array>

  <key>StandardErrorPath</key>
  <string>/tmp/error_launch.log</string>
  <key>StandardOutPath</key>
  <string>/tmp/out_launch.log</string>
</dict>
</plist>
